{% extends 'base.html.twig' %}

{% block title %}Réponse {% endblock %}

{% block body %}
    <h1>Réponse</h1>
    <table class="table">
        <thead class="orange">
            <tr>
                <th class="flexP">Id</th>
                <th>LibelleReponse</th>
                <th class="flexP">Valeur</th>
                <th class="flexP"></th>
            </tr>
        </thead>
        <tbody>

        {% for reponse in reponses %}
            <tr>
                <td class="flexP">{{ reponse.id }}</td>
                <td>{{ reponse.libelleReponse }}</td>
                {# <td class="flexP">{{ reponse.valeurReponse }}</td> #}
                {% if reponse.valeurReponse  == 1 %}
                    <td class="flexP">Vrai</td>
                {% else %}
                    <td class="flexP">Faux</td>
                {% endif %}
                <td class="flexP">
                    {# <a href="{{ path('reponse_show', {'id': reponse.id}) }}"><i class="far fa-eye"></i></a> #}
                    <a href="{{ path('reponse_edit', {'id': reponse.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune réponse trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="centerbtn">
        <a href="{{ path('reponse_new') }}" class="btn bleu">Ajouter</a>
        {# {% for questionnaire in questionnaires %} #}
            <a href="{{ path('question_index', {'id': questions}) }}" class="btn orange">Retour</a>
        {# {% endfor %} #}
    </div>
{% endblock %}
