{% extends 'base.html.twig' %}

{% block title %}Réponse{% endblock %}

{% block body %}
    <div class="center conatainer voir">
        <fieldset>
            <h1>Réponse</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ reponse.id }}</td>
                    </tr>
                    <tr>
                        <th>LibelleReponse</th>
                        <td>{{ reponse.libelleReponse }}</td>
                    </tr>
                    <tr>
                        <th>ValeurReponse</th>
                        <td>{{ reponse.valeurReponse }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('reponse_index') }}" class="btn orange">Retour</a>

            <a href="{{ path('reponse_edit', {'id': reponse.id}) }}" class="btn vert">Modifier</a>
            
        </fieldset>
    </div>
{% endblock %}
