{{ form_start(form) }}

    {{ form_row(form.Questionnaire)}}
    {{ form_row(form.libelleQuestion)}}
    {{ form_row(form.typeDeQuestion)}}
    

    <button class="btn vert">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
