{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="center container">
    <div class="ligne">
        <div class="quiz"> 
        {{ form_start(form2) }}
            {{ form_widget(form2) }} 

         
            <!-- Cercles qui indiquent les étapes du formulaire: -->
            <div class="stepContainer" >
                {# key = nombre de question #}
                {% for i in 1..key %}
                    <span class="step"></span>
                {% endfor %}
            </div>

            <div class="centerbtn">
                <button class="btn vert" type="button" id="nextBtn" onclick="nextPrev(1)" disabled>Suivant</button>

                <button class="btn bleu" id="validBtn">{{ button_label|default('Valider') }}</button>
                <a href="{{ path('home') }}" class="btn orange">Retour</a>
                {# ajouter le nombre de question #}
            </div> 
        {{ form_end(form2) }}

        </div>
    </div>
</div>


{% endblock %}
