{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="center container">
    <div class="ligne">
        <div class="quiz"> 
        
         {# {{ form_start(form) }}
            
            {{ form_row(form.Utilisateur) }}
            {{ form_widget(form.Question) }}
            {{ form_widget(form.Reponse) }}
        {{ form_end(form) }} #}
{# ------------------------------------------------------------------ #}
        {{ form_start(form2) }}
            {# {{ form_widget(form2) }}  #}
           {{ form_row(form2.utilisateur) }}

{# Créer une boucle pour afficher toutes les questions et réponses, s'il n'y a pas de question, rien afficher!!!  #}

               {# {{ form_widget(form2.question0) }}
               {{ form_widget(form2.reponse0) }} #}
           {# </br>  #}
                {# {{ form_widget(form2.question1) }}
                {{ form_widget(form2.reponse1) }} #}

            {% for i in 0..2 %}
                {{ form_widget(form2.question.i) }}
               {{ form_widget(form2.reponse.i) }}
        {% endfor %}

           {{ form_widget(form2.valider , {'attr': {'class': 'btn bleu'}}) }}
        {{ form_end(form2) }}


        <form action="{{ path('reponse_utilisateur_action')}}" method="post">   

            {# S'il est connecté on récupère son Nom d'utilisateur, aussi non on demande le nom et prénom  #}
            {% if app.user %}
                <input type="text" placeholder="Email" value="{{ app.user.username }}" hidden>
            {% else %}
            <div class="gauche quiz_identifiant">
                <div>
                    <label for="email">Email :</label>
                    <input type="text"  name="email" required >
                </div>
            </div>
            {% endif %}


            {% for key, question in questionnaire.questions %}
                <div class="titreQuiz">
                    <h2>{{key+1}} : {{ question.libelleQuestion}}</h2> 
                </div>
                
                    {% for reponse in question.reponses %}
                    {# {{ form_widget(form.Reponse) }} #}
                        {% if {'id' : reponse.question}=={'id' : question.libelleQuestion} %} 
                            <div class="reponseQuiz"> 
                            {# Afficher le bon type de Input selon la question #}
                             {% if question.typeDeQuestion =='radio' %}
                                <input type="radio" name="reponses" id="{{reponse.libelleReponse}}" value="{{reponse.libelleReponse}}">
                                <label for="{{reponse.libelleReponse}}">{{reponse.libelleReponse}}</label>
                               
                             {% else %}   
                                <input type="checkbox" name="reponses" id="{{reponse.libelleReponse}}" value="{{reponse.libelleReponse}}">
                                <label for="{{reponse.libelleReponse}}">{{reponse.libelleReponse}}</label>
                                
                            {% endif %}
                            </div> 
                        {% endif %}
                    {% endfor %}
                    {# calculer le nombre de question ! #}
                {# <p>{{key+1}} / {{ question|length }}</p> #}
            {% else %}
                    <p>Il n'y a pas de question &#128546;</p>
            {% endfor %}
                <div class="centerbtn">
                     <button class="btn bleu">{{ button_label|default('Valider') }}</button>
                    <a href="{{ path('home') }}" class="btn orange">Retour</a>
                </div>
           </form> 
        </div>
    </div>
</div>


{% endblock %}
