{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
<div class="container">
    <h1>Compte</h1>
    <p>{{ app.user.nom }} {{ app.user.prenom }}</p>
    <p>{{ app.user.username}}</p>
    {# <p>score: {{ app.user.score}}</p> #}
    <h1>Tes réponses : {{resultat}}.</h1>
    <table class="table">
        <thead class="vert">
            <tr>
                <th>Date</th>
                <th class="separation"></th>
                <th class="flexG">Question</th>
                <th class="flexG">Réponse</th>
                <th class="separation"></th>
                <th>Image</th>
                <th >Réponse</th>
            </tr>
        </thead>
        <tbody>
       
        {% for key, reponse_utilisateur in reponse_utilisateurs %}
            <tr>
                {# {% if valeurReponse[key] == "" %}
                <td class="none"></td>
                {% else %} #}
                <td>{{ reponse_utilisateur.Date|date('d-m-Y ') }}</td>
                <td class="separation"></td>
                <td class="flexG">{{ reponse_utilisateur.Question}}</td>
                {# {% endif %} #}

            
                
                {# Si la réponse est bonne afficher en vert et fause en orange#}

                {% if valeurReponse[key] == 0 %}
                
                    <td class="orange flexG">{{ reponse_utilisateur.Reponse}}</td>
                {% elseif valeurReponse[key] == "" %}
                    <td class="gris flexG"></td>
                {% elseif valeurReponse[key] == 2 %}
                    <td class="bleu flexG">{{ reponse_utilisateur.ReponseTextarea}}</td>
                {% else %}
                    <td class="vert flexG">{{ reponse_utilisateur.Reponse}}</td>
                {% endif %}

                <td class="separation"></td>

                <td>{{ reponse_utilisateur.Image}}</td>
                {#  #}
                {% if valeurReponse[key] != "" %}
                    <td class="gris"></td>
                {% elseif valeurok[key] == 1 %}  
                    <td class="vert">{{ reponse_utilisateur.ReponseImage}}</td>
                {% else %}
                    <td class="orange">{{ reponse_utilisateur.ReponseImage}}</td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun quiz trouvé</td>
            </tr>
        {% endfor %}
        
        {# <tr class="separationH"></tr> #}

         {# {% for key, reponseQuizImage in reponseQuizImages %} #}
         {# <tr class="imagequizCompte">
                <td class="flexP"><img class="imageQuiz imageCompte" src="{{ asset(reponseQuizImage.Image) }}" alt=""></td> #}
                {#  #}
                {# {% if valeurReponse[key] != "" %}
                    <td class="gris"></td>
                {% elseif valeurok[key] == 1 %}  
                    <td class="vert">{{ reponseQuizImage.ReponseImage}}</td> #}
            
                {# {% else %}
                    <td class="orange">{{ reponseQuizImage.ReponseImage}}</td>
                {% endif %} #}
            {# </tr> #}
         {# {% else %} #}
            {# <tr>
                <td colspan="2">Aucun quiz image trouvé</td>
            </tr> #}
        {# {% endfor %} #}
        </tbody>
    </table>
    
    <div class="centerbtn">
        <a href="{{ path('home') }}" class="btn orange">Retour</a>
        </div>
    </div>
{% endblock %}
