{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
<div class="container">
    <h1>Compte</h1>
    <p>{{ app.user.nom }} {{ app.user.prenom }}</p>
    <p>{{ app.user.username}}</p>
    {# <p>score: {{ app.user.score}}</p> #}
    <h1>Tes réponses : {{resultat}}.</h1>
    <table class="table">
            <thead class="vert">
            <tr>
                <th>Date</th>
                <th class="flexG">Question</th>
                <th >Réponse</th>
            </tr>
        </thead>
        <tbody>
       
        {% for key, reponse_utilisateur in reponse_utilisateurs %}
            <tr>
                <td>{{ reponse_utilisateur.Date|date('d-m-Y ') }}</td>
                <td class="flexG">{{ reponse_utilisateur.Question}}</td>
                {# Si la réponse est bonne afficher en vert et fause en orange#}

                {% if valeurReponse[key] == 0 %}
                
                    <td class="orange">{{ reponse_utilisateur.Reponse}}</td>
                {% else %}
                    <td class="vert">{{ reponse_utilisateur.Reponse}}</td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    
    <div class="centerbtn">
        <a href="{{ path('home') }}" class="btn orange">Retour</a>
        </div>
    </div>
{% endblock %}
