{% extends 'base.html.twig' %}

{% block title %}Réponse Utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1>Réponse Utilisateur</h1>

    <table class="table">
        <thead class="orange">
            <tr>
                <th>Id</th>
                <th class="flexG">Utilisateur</th>
                <th class="flexG">Question</th>
                <th class="flexG">Réponse</th>
                <th class="flexP"></th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_utilisateur in reponse_utilisateurs %}
            <tr>
                <td>{{ reponse_utilisateur.id }}<td>
                <td class="flexG">{{ reponse_utilisateur.Utilisateur}}</td>
                <td class="flexG">{{ reponse_utilisateur.Question}}</td>
                <td class="flexG">{{ reponse_utilisateur.Reponse}}</td>

                <td class="flexP">
                    {# <a href="{{ path('reponse_utilisateur_show', {'id': reponse_utilisateur.id}) }}"><i class="far fa-eye"></i></a> #}
                    {# <a href="{{ path('reponse_utilisateur_edit', {'id': reponse_utilisateur.id}) }}"><i class="far fa-edit"></i></a> #}
                    {{ include('reponse_utilisateur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="centerbtn">
        {# <a href="{{ path('reponse_utilisateur_new') }}">Create new</a> #}
        <a href="{{ path('admin') }}" class="btn orange">Retour</a>
        </div>
    </div>
{% endblock %}
