{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block body %}
<div class="container">
    <h1>Résultat : {{resultat}}.</h1>

    <table class="table">
        {% if is_granted('ROLE_ADMIN') %}
            <thead class="orange">
        {% else %}
            <thead class="vert">
        {% endif %}
            <tr>
                <th>Date</th>
                <th class="flexG">Utilisateur</th>
                <th class="flexG">Question</th>
                <th>Réponse</th>
            </tr>
        </thead>
        <tbody>
        {% for key, reponse_utilisateur in reponse_utilisateurs %}
            <tr>
                <td>{{ reponse_utilisateur.Date|date('d-m-Y ') }}</td>
                <td class="flexG">{{ reponse_utilisateur.Utilisateur}}</td>
                <td class="flexG">{{ reponse_utilisateur.Question}}</td>
                {# Si la réponse est bonne afficher en vert et fause en orange#}
                {% if valeurReponse[key] == 0 %}
                
                    <td class="orange">{{ reponse_utilisateur.Reponse}}</td>
                {% else %}
                    <td class="vert">{{ reponse_utilisateur.Reponse}}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="centerbtn">
            <a href="{{ path('home') }}" class="btn orange">Retour</a>
        </div>
    </div>
{% endblock %}
