<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quizz !{% endblock %}</title>
        
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/13bc1841db.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="centrer nav">
                <a href="{{ path('home') }}"><img src="{{ asset('images/logo.svg') }}" alt="logo"></a>
                <div class="espace"></div>
                <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}"><i class="fas fa-user-alt"></i> Admin</a></li>
                    {% endif %}

                 
                    {% if app.user %}
                        <li>
                            {{ app.user.username }}
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                    <li><a href="{{ path('app_login') }}"><i class="fas fa-user-alt"></i> Connexion</a></li>
                   
                    {% endif %}

                    <li><a href="{{ path('home') }}"><i class="fas fa-align-justify"></i> Questionnaire</a></li>
                </ul>
            </div>
        </nav>
        <a href="{{ path('reponse_utilisateur_quiz') }}">test</a>
        <a href="{{ path('reponse_utilisateur_new') }}">test2</a>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
